@model Buffet.Models.Customer

@{
    ViewData["Title"] = "Show";
}

<h1>Show1</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="@ViewBag.ImgFile" width="250" class="shadow"/>
            <div class="row">
                <div class="col">
                    <br />
                    <a class="btn btn-sm btn-danger" onclick="confirm('ยืนยันลบรูป')" asp-action="ImgDelete" asp-route-id ="@Model.CusId" >
                        <i class="bi bi-x-lg">ลบรูปภาพ</i>
                    </a>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id ="@Model.CusId" >
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div>
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CusName)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CusName)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CusPass)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CusPass)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CusEmail)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CusEmail)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CusPhone)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CusPhone)
                    </dd>   
                </dl>
            </div>
            <div class="row">
                <div class="col-12">
                    <form method="post" enctype="multipart/form-data" asp-action="ImgUpload">
                        <input name="theid" type="hidden" value="@Model.CusId"/>    
                        <input type="file" accept="image/jpeg" name="imgfiles" class="form-control" required/>
                        <button type="submit" class="btn btn-success" >Upload</button>
                    </form>
                </div>  
            </div>
        </div>
    </div>
<div>
</div>
