@using System.Globalization;
@model IEnumerable<Buffet.ViewModels.RepBook>

@{
    CultureInfo us = new CultureInfo("en-US");
    string theDate;
    //ถ้าไม่ได้ระบุวันให้เป็นวันปัจจุบัน
    if (ViewBag.theDate != null)
    {
        theDate = ViewBag.theDate;

    }
    else
    {
        theDate = DateTime.Today.ToString("yyyy/MM/dd HH:mm:ss", us);
    }
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning mx-5 my-5">@TempData["ErrorMessage"]</div>
}

<form asp-controller="Report" asp-action="SaleDaily">
    <div class="row pt-5 mt-5">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <h5 class="text-success">รายงานสินค้าขายรายวัน</h5>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 text-end">
            <div class="input-group">
                <span class="input-group-text">ประจำวันที่</span>
                <input type="text" name="theDate" id="theDate" class="form-control" value="@theDate" />
                <button type="submit" class="btn btn-secondary"><i class="bi-search"></i></button>
            </div>
        </div>
    </div>
</form>
<table class="table table-borderless table-hover">
    <tr>
        <th></th>
        <th colspan="2">สินค้า</th>
        <th class="text-end">จำนวนสินค้า</th>
        <th class="text-center">ยอดเงิน</th>
    </tr>
    @{
        var i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.ResId</td>
            <td>@item.SelectDate</td>

        </tr>
    }
</table>
<!--กำหนดพื้นที่ Script -->
@section Scripts {
    <script>
        //ระบุ id ที่ต้องการใช้
        $('#theDate').datetimepicker({
            showSecond: true,
            dateFormat: 'yy/mm/dd',
            timeFormat: 'hh:mm:ss',
            stepHour: 2,
            stepMinute: 10,
            stepSecond: 10

        })

    </script>
}
