@using System.Globalization;
@model IEnumerable<Buffet.ViewModels.RepBook>

@{
    string sDate = "";
    string eDate = "";

    CultureInfo us = new CultureInfo("en-US");
    var theMonth = DateTime.Now.Month;
    var theYear = DateTime.Now.Year;
    if (ViewBag.sDate != null)
        sDate = ViewBag.sDate;
    else
    {
        DateTime thedate = new DateTime(theYear, theMonth, 1);
        sDate = thedate.ToString("yyyy-MM-dd", us);
    }

    if (ViewBag.eDate != null)
        eDate = ViewBag.eDate;
    else
    {
        DateTime thedate = new DateTime(theYear, theMonth, 1).AddMonths(1).AddDays(-1);
        eDate = thedate.ToString("yyyy-MM-dd", us);
    }
}
<form asp-controller="Report" asp-action="SaleMonthly">
    <div class="row pt-5 mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h5 class="text-success">รายงานสินค้าขายรายเดือน</h5>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-end">
            <div class="input-group">
                <span class="input-group-text">ระหว่างวันที่</span>
                <input type="text" name="sDate" id="sDate" class="form-control" value="@sDate" />
                <span class="input-group-text">-</span>
                <input type="text" name="eDate" id="eDate" class="form-control" value="@eDate" />
                <button type="submit" class="btn btn-secondary"><i class="bi-search"></i></button>
            </div>
        </div>
    </div>
</form>

<div class="">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" colspan="1" class="text-center">รหัสร้าน</th>
                <th scope="col" class="text-center">ชื่อร้าน</th>
                <th scope="col" class="text-center">ยอดการจอง</th>
                <th scope="col" class="text-center">ยอดเงินทั้งหมด</th>

            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @foreach (var item in Model)
            {
                var sum = @item.TotalBookings * @item.CoursePrice;
                i++;
                <tr>
                    <th scope="row">@i</th>
                    <td class="text-center">@item.ResId</td>
                    <td class="text-center">@item.ResName</td>
                    <td class="text-center">@item.TotalBookings</td>
                    
                    <td class="text-center">@sum</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        //ระบุ id ที่ต้องการใช้
        $('#sDate').datetimepicker({
            showSecond: true,
            dateFormat: 'yy/mm/dd',
            timeFormat: 'hh:mm:ss',
            stepHour: 2,
            stepMinute: 10,
            stepSecond: 10
        })
        $('#eDate').datetimepicker({
            showSecond: true,
            dateFormat: 'yy/mm/dd',
            timeFormat: 'hh:mm:ss',
            stepHour: 2,
            stepMinute: 10,
            stepSecond: 10
        })

    </script>
}
